:root {
  --primary-color: #426fa6;
  --secondary-color: #235da5;
  --danger-color: #ed2d30;
  --warning-color: #de8500;
  --success-color: #30b54c;
  --white-color: #f0f6ff;
  --gray-color: #A9BEDB;
  --black-color: #02021c;
}
